body {
  font-family: sans-serif;
  
}

fieldset {
  
  
  height: 5cm;
  
  width: 15cm;
  
  border-width: 0.3cm;
  
  align-content: center;
  
}


#input-area {
  
  
  height: 1cm;
  
  font-size: large;
  
  
  
}





button {
  
  font-size: large;
  
  size: 1cm;
  
  
  
}


legend {
  
  font-size: xx-large;
  
}


h1 {
  
  font-size: large;
  
}


